<% form_for :retrieve, :url=>{:controller=>"references", :action=>"create"}, :html => {:multipart => true } do |f| -%>
  <%= f.error_messages %>
  <div class="PMIDS">
    <%= f.text_field :PMID %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>



