<h1>About Us</h1>
<p>
	Peter J. Kos is a doctoral student studying Medical Informatics in the College of Engineering and Applied Science. His major adviser is SPH Professor Peter J. Tonellato. Peter is also a member of UWM's affiliated Laboratory for Personalized Medicine and the Laboratory for Translational Bioinformatics in the Center for Biomedical Informatics, Harvard Medical School.
</p>
<table class="profile">
  <tr>
    <td class="sidebar round">
	  <a href="http://lpm.hms.harvard.edu/">LPM, Center for Biomedical Informatics, Harvard Medical School</a><br>
	  <a href="http://www4.uwm.edu/publichealth/research/LPM/">LPM, School of Public Health, University of Wisconsin-Milwaukee</a>
    </td>
  </tr>
</table>