<h1>About Us</h1>
<p>
	The Laboratory for Personalized Medicine (LPM) is a virtual lab within Harvard Medical School (HMS) and the University of Wisconsin-Milwaukee (UWM) that is currently developing bioinformatics web applications.
</p>
<table class="profile">
  <tr>
    <td class="sidebar round">
	  <a href="http://lpm.hms.harvard.edu/">LPM, Center for Biomedical Informatics, Harvard Medical School</a><br>
	  <a href="http://www4.uwm.edu/publichealth/research/LPM/">LPM, School of Public Health, University of Wisconsin-Milwaukee</a>
    </td>
  </tr>
</table>