<h1>About Us</h1>
<p>
	The Laboratory for Personalized Medicine (LPM) is a virtual lab within Harvard Medical School (HMS) that is currently developing bioinformatics web applications.  Copyright © 2010 <a href="http://lpm.hms.harvard.edu/">LPM</a>.
</p>