<h1>Help</h1>
<h2>Quick Start Guide</h2>
<ul class="helper round">
  <li>Sign up for a free account.</li>
  <li>The 'Home' link brings you to the references page.</li>
  <li>Enter a PubMed id and click 'Submit'.</li>
  <li>Reference Stacker will retrieve the citation.</li>
  <li>Change the reference style from the 'Settings' link.</li>
  <li>The 'Export' link will create a document containing your references.</li>
</ul>