<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h2 class="reference">Which
	      <a href="http://www.ncbi.nlm.nih.gov/pubmed"
	         onclick="window.open(this.href);return false;">PMID?</a>
	    </h2>
        <%= render 'pages/reference_form' %>
        <%= render 'pages/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>| Reference Stacker |</h1>

  <p>
    An application to easily collect, save, manage and export citations in multiple formats, simply by entering PubMed IDs.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
