<h1>| Reference Stacker |</h1>

<p>
  An application to easily query, import, save, manage and export PubMed entries.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

