<% medline = Bio::MEDLINE.new(reference.refblob)
ref = medline.reference %>
<tr>
  <td class="reference">
    <span class="reference"><%= h ref.format(current_user.style) %></span>
    <br />
    <span class="timestamp">
      Posted <%= time_ago_in_words(reference.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(reference.user) %>
  <td>
    <%= link_to "delete", reference, :method => :delete,
                                     :confirm => "You sure?" %>
  </td>
  <% end %>
</tr>
